#profileCard {
  width: 305px;
  height: 241px;
  border: 1px solid #efefef;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .profilePic {
    // background-color: rgba($color: #000000, $alpha: 0.4);
    color: #000000;
    height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .appointment {
    font-size: 0.7rem;
    background-color: #9d9d9d;
    color: white;
    border-radius: 3px;
    padding: 0.1rem 1rem;
    font-weight: 700;
  }
  p {
    margin-bottom: 0px;
  }
  .bidsFlag {
    background-color: #feb902;
    color: white;
    padding: 0.1rem 1rem;
    font-weight: 700;
    border-radius: 3px;
    font-size: 0.7rem;
    display: inline-block;
  }
}
