@import "../../styles/base.scss";

#maklerLayout {
  background-color: $backgroundColor;
  header {
    background-color: $backgroundColor;
    min-height: 80px;
  }

  main {
    background-color: white;
    margin: 0 50px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    padding: 1rem;
  }

  footer {
    background-color: $backgroundColor;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #maklerLayout {
    header {
      min-height: 160px;
    }
    main {
      background-color: white;
      margin: 0 0;
    }
  }
}
